<table>

  <tr>

    <th rowspan="3">
      <input #img style="display: none;" type="file" (change)="selectFile($event)">
      <img height=70, width=70, src="{{contact.image}}" (click)="img.click()" />

    </th>

    <td>
      <input type=" text" [(ngModel)]="contact.name">
      <img *ngIf="contact.name === ''" src='./assets/images/warning.png' width="20px" height="20px">

    </td>

  </tr>
  <tr>
    <td>
      <input type="text" [(ngModel)]="contact.phone">
      <img *ngIf="contact.phone === ''" src='./assets/images/warning.png' width="20px" height="20px">
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="showDetails()">Modifier</button>
    </td>
  </tr>

</table>
